.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &_box{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__count {
    display: flex;
    align-items: center;
    gap: 20px;
    &_span {
      width: 10px;
    }


    &_svg {
      background: inherit;
      border: none;
      transition: all .3s;
      cursor: pointer;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}