.price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 23px;
    &__drop {

        &_box {
            margin-top: 20px;
            width: 240px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            &_from {
                width: 50px;
                justify-content: space-between;
                display: flex;
                align-items: center;

                &_text {
                    font-size: 14px;
                    font-style: normal;
                    color: var(--unnamed, #C4C4C4);
                }

                &_counter {
                    color: var(--unnamed, #2F3035);
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration-line: underline;
                }
            }

            &_to {
                width: 50px;
                justify-content: space-between;
                display: flex;
                align-items: center;

                &_text {
                    font-size: 14px;
                    font-style: normal;
                    color: var(--unnamed, #C4C4C4);
                }

                &_counter {
                    color: var(--unnamed, #2F3035);
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration-line: underline;
                }
            }
        }


        &_spn {
            font-weight: 600;
        }
    }

    &__range {
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        width: 251px;
        &_spn {
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }

        &_text:nth-child(1) {
            color:  #C4C4C4;
            font-size: 14px;
            font-weight: 400;
        }
        &_text:nth-child(2) {
            color:  #2F3035;
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;
        }
    }
}

.range {
    margin-top: 39px;
}


.slider {
    margin-top: 20px;
}

