.model {
  margin-top: 42px;
  width: 291px;

  &__box {
    margin-top: 20px;
  }

  &__inner {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &_link {
      font-size: 14px;
      font-weight: 400;
      text-decoration-line: underline;
      display: block;
      margin-top: 22px;
      color: #1C62CD;
    }
  }
}

.hidden {
  display: none;
}