.search{
  margin-top: 88px;

  &__tabs {
    &_list {
      display: flex;
      gap: 28px;
      align-items: center;

    }
  }


  &__block {
    &_form {
      display: flex;
      justify-content: space-between;
      margin-top: 37px;
      &_input {
        width: 100%;
        border-radius: 3px;
        background: #F0F0F4;
        padding-left: 20px;
        border: none;
        outline: #a9a2a2;
        &:focus {
          border: #a9a2a2;
        }

        &::placeholder {
          color: #656464;
          font-size: 16px;
          font-family: "SF Pro Display", sans-serif;
        }

        &:active {
          border: none;
        }
      }
    }
  }
}